pillow
matplotlib
opencv-python

torch
torchvision

transformers==4.30.2
tokenizers==0.13.3

timm
addict
yapf
supervision
pyyaml
requests
einops
packaging
huggingface-hub

diffusers
accelerate
scikit-image
albumentations
omegaconf